.App {
  text-align: center;
  background-color: #161516;
  min-height: 100vh;
}

*,
html {
  margin: 0px;
  padding: 0;
}

.button {
  border: solid 0.5px #E9E9E9;
  border-radius: 0px;
  padding: 16px 16px;
  background-color: #3B263A;
  color: #fff;
  font-weight: bold;
}

.button__large {
  border: solid 1px #E9E9E9;
  border-radius: 0px;
  padding: 16px 24px;
  background-color: #000000;
  text-decoration: underline;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.button__counter {
  border: solid 1px #ad8f2a;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: transparent;
  color: #ad8f2a;
  font-weight: bold;
}

.button:hover {
  background-color: #0829bb;
  color: #fff;
  cursor: pointer;
  border: solid 1px #0829bb;
  text-decoration: underline;
}

.button__counter:hover {
  border: solid 1px #002eff;
  cursor: pointer;
  background-color: transparent;
  color: #002eff;
  text-decoration: underline;
}

hr {
  border: none;
  height: 1px;
  background-color: #464646d8;
  margin-top: 8px;
}