.choice {
    align-items: center;
    margin: 130px 0px;
    padding: 0px 40px;
    text-align: center;
    color: #fff;
}

.choice__text>h1 {
    font-size: 50px;
    padding: 0px 160px;
    margin-bottom: 16px;
    letter-spacing: 1px;
    font-weight: bold;;
}
.choice__text>h3 {
    font-size: 16px;
    color: #555E6D;
    margin-bottom: 8px;
}

.choice__text>p {
    padding: 0px 280px;
    margin-bottom: 32px;
    font-size: 16px;
    color: #fff;
}

.choiceButton {
    margin: 0px 8px
}