.info {
    margin-top: 160px;
    padding: 40px;
}

.info > h1 {
    font-size: 40px;
    padding: 0px 100px;
    margin-bottom: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #fff;
}

.info__valueSection {
    margin-top: 60px;
    color: #333;
}


.info__valuePoints {
    display: flex;
    align-items: baseline;
}

.info__valueBucket {
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 56px 40px 40px 40px;
    margin: 0px 12px;
    background-color: #212325;
    text-align: left;
    width: 33%;
}

.info__image {
    width: 150px;
    margin-bottom: 32px;
}

.info__title>p {
    margin-top: 16px;
    color: #fff;
}

.info__title>h3 {
    letter-spacing: 1px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 16px;
}

.info__title>h1 {
    color: #ad8f2a;
}

.info__valueSection>h1 {
    text-align: left;
}


.info__valueBucket > h3 {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 16px;
}

.info__valueBucket>p {
    font-size: 14px;
    color: #9D9D9D
}