.PoolOption {
    padding: 40px 0px;
    color: #fff;
}

.poolOption__container {
    display: flex;
    padding: 40px 32px 32px 32px;
    border-radius: 8px;
    text-align: center;
    background-color: #212325;
}

.poolOption__box {
    width: 30%;
    margin-right: 16px;
}
.poolOption__titleRow {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.poolOption__icon {
    margin-right:4px;
}

.poolOption__sizeRow {
    display: flex;
}

.poolOption__sizeColumn {
    width: 50%;
}

.poolOption__title {
    margin-bottom: 32px;
    padding-right: 16px;
}

.poolOption__boldText {
    margin-bottom: 16px;
}

.poolOption__headers {
    margin-bottom: 4px;
}